/* custom font */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Manrope:wght@300;400;500&display=swap');
/* variables */
:root {
  --primary: #eeb781;
  --neutralLightest: #ffffff;
  --neutralLighter: #d3d3d3;
  --neutralLight: #979797;
  --neutral: #797979;
  --neutralDark: #383838;
  --neutralDarker: #1d1d1d;
  --neutralDarkest: #000000;

  --bodyLinkColor: var(--neutralDarkest);
  --navLinkColor: var(--neutralLightest);
  --textColor: var(--neutralDarkest);
  --scrollColor: hsl(0deg, 0%, 7%);

  --font: 'Manrope', sans-serif;
  --background-color: #ffffff;
  --max-width: 1440px;
}

/* base styles */

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--textColor);
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--bodyLinkColor);
}

button {
  padding: 10px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 100vw;
}

.container {
  width: min(100% - 40px, var(--max-width));
  margin: auto;
}
